<ion-view title="'Map'" left-buttons="leftButtons">
  <ion-content has-header="true" scroll="false">
    <google-map center="map.center" zoom="map.zoom" draggable="true">       
        <!-- Marker gua -->
        <marker ng-repeat="m in markers" coords="m" icon="m.icon" click="onMarkerClicked(m)">
            <window show="m.showWindow" options="markerOption.options">
                <div>
                    <p><a href="#/map/home/{{m.id}}" style="text-decoration: none;">{{m.name}}</a></p>
                </div>
            </window>
        </marker>

        <!-- Marker My Location -->
        <marker coords="center" icon="center.icon" ng-if="center">
            <circle center="center" radius="2500" stroke="stroke" fill="fill"></circle>
            <window show="true">
                <div style="min-width:60px">
                    Anda di sini
                </div>
            </window>
        </marker>        
    </google-map>
  </ion-content>
</ion-view>
