      <ion-view title="'Info Susur Gua'" left-buttons="leftButtons">
        <ion-content has-header="true">
            <a href="#/map/info/tentang" data-click class="item">Tentang Susur Gua</a>
            <a href="#/map/info/jenis" data-click class="item">Jenis Gua</a>
            <a href="#/map/info/alat" data-click class="item">Peralatan Susur</a>
            <a href="#/map/info/tingkat" data-click class="item">Tingkat Kesulitan Gua</a>
            <a href="#/map/info/biota" data-click class="item">Biota Gua</a>
            <!-- <a href="#/map/info/ornamen" data-click class="item">Ornament Gua</a> -->
        </ion-content>
      </ion-view>