      <ion-side-menus>
        <ion-pane ion-side-menu-content ng-controller='HeaderCtrl'>
          <ion-nav-bar type="bar-light" left-buttons="leftButtons" back-button-type="button-icon" back-button-icon="ion-chevron-left">

          </ion-nav-bar>
          <ion-nav-view name="menuContent"></ion-nav-view>
        </ion-pane> 
    
        <ion-side-menu side="left">
          <header class="bar bar-header bar-light">
            <div class="title"><img src="transparent.png" alt="Logo" style="width:40px;height:40px;vertical-align:middle"/><span>Susur Gua</span></div>
          </header>
          <!-- if you need scroll and click in menu: has-header="true" scroll="true" overflow-scroll="true" -->
          <ion-content has-header="true">
          <div id="listMainMenu">
            <ul class="list">
              <a href="#/map/home" data-click-menulink class="item item-icon-left"><i class="icon ion-ios7-world-outline"></i>Home</a>
              <a href="#/map/area" data-click-menulink class="item item-icon-left"><i class="icon ion-ios7-location-outline"></i>Area</a>
              <a href="#/map/info" data-click-menulink class="item item-icon-left"><i class="icon ion-ios7-star-outline"></i>Info Susur Gua</a>
              <a href="#/map/search" data-click-menulink class="item item-icon-left"><i class="icon ion-ios7-search"></i>Search</a>
            </ul>

          </div>

          </ion-content>

          <div class="bar bar-footer">
            <div class="title"><a href="http://gadga.co" target="_blank"><img src="img/gadga.png" width="30px"/></a></div>
            <hr>
          </div>
        </ion-side-menu>
      </ion-side-menus>